@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

h2 {
    @apply text-2xl;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.card-cart:hover svg path {
    stroke: white !important;
}
.product-container:hover .card-cart {
    background-color: #00b207;
}
.product-container:hover .card-cart svg path {
    stroke: #fff;
}
